body {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    height: '100%'
  }

  #link:hover {
    cursor: pointer;
  }

  #buttons:hover {
    cursor: pointer;
  }