html{
  margin:0;
  padding:0;
  max-height:100vh;
}

body {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  #link:hover {
    cursor: pointer;
  }

  #buttons:hover {
    cursor: pointer;
  }

  #App {
    height: '100%'
  }